<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header id="header" th:replace="fragments/layout :: header"></header>
<div>
    <nav th:replace="fragments/layout :: nav">
    </nav>
</div>
<div id="wrapper">
    <form method="post" th:action="@{/book}" th:object="${contract}">
        <input type="hidden" name="service" th:field="*{service}">
        <input type="hidden" name="service" th:field="*{customer}">
        <label>
            Check in: <input type="date" th:field="*{dayStart}">
            Check out: <input type="date" th:field="*{dayEnd}">
            Deposit: <input type="text" th:field="*{deposit}">
        </label>

        <input type="submit" value="Book" class="btn btn-success">
        <main>
            <div id="content" th:object="${services}" style="height: 1000px; text-align: left;padding-left: 150px">
                <div><img th:src="@{'../image/' + ${services.image}}" style="width: 100px;height: 100px"></div>
                <div th:text="'Name: ' + ${services.nameService}"></div>
                <div th:text="'Area: ' + ${services.area}"></div>
                <div th:text="'Number Floor: '+${services.numberFloor}"></div>
                <div th:text="'Max People: '+${services.maxPeople}"></div>
                <div th:text="'Rent Price: '+${services.rentPrice}"></div>
                <div th:text=" 'Status: '+(${services.status} ? 'still' : 'over')"></div>
                <div th:text="'Rent type: '+${services.rentType.nameRent}"></div>
                <div th:text="'Service type: '+${services.serviceType.nameServiceType}"></div>
            </div>
        </main>
    </form>
</div>
<footer th:replace="fragments/layout :: footer"></footer>
</body>
</html>