<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: head">
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<header th:replace="fragments/layout :: header"></header>
<div>
    <nav th:replace="fragments/layout :: nav">
    </nav>
</div>
<main>
    <div class="row" style="height: 1000px;width: 1000px; text-align: left; padding-left: 300px; padding-top: 50px;padding-bottom: auto">
        <th:block th:each="service : ${like}">
            <div class="col-md-6">
                <p>
                <div><img th:src="@{'../image/' + ${service.image}}" style="width: 100px;height: 100px"></div>
                </p>
                <p>
                <div th:text="'Name: ' + ${service.nameService}"></div>
                </p>
                <p>
                <div th:text="'Area: ' + ${service.area}"></div>
                </p>
                <p>
                <div th:text="'Number Floor: '+${service.numberFloor}"></div>
                </p>
                <p>
                <div th:text="'Max People: '+${service.maxPeople}"></div>
                </p>
                <p>
                <div th:text="'Rent Price: '+${service.rentPrice}"></div>
                </p>
                <p>
                <div th:text=" 'Status: '+(${service.status} ? 'still' : 'over')"></div>
                </p>
                <p>
                <div th:text="'Rent type: '+${service.rentType.nameRent}"></div>
                </p>
                <p>
                <div th:text="'Service type: '+${service.serviceType.nameServiceType}"></div>
                </p>
            </div>
        </th:block>
    </div>
</main>
<footer th:replace="fragments/layout :: footer"></footer>
</body>
</html>