<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header id="header" th:replace="fragments/layout :: header"></header>
<div>
    <nav th:replace="fragments/layout :: nav">
    </nav>
</div>
<div id="wrapper">
    <main>
        <section class="ftco-section ftco-degree-bg">
        <div id="content" th:object="${service}" style="height: 1000px; text-align: left;padding-left: 150px">
       <p><div><img th:src="@{'../image/' + ${service.image}}" style="width: 300px;height: 300px"></div></p>
            <p> <div th:text="'Name: ' + ${service.nameService}"></div></p>
            <p>   <div th:text="'Area: ' + ${service.area}"></div></p>
            <p>  <div th:text="'Number Floor: '+${service.numberFloor}"></div></p>
            <p>  <div th:text="'Max People: '+${service.maxPeople}"></div></p>
            <p> <div th:text="'Rent Price: '+${service.rentPrice}"></div></p>
            <p> <div th:text=" 'Status: '+(${service.status} ? 'still' : 'over')"></div></p>
            <p> <div th:text="'Rent type: '+${service.rentType.nameRent}"></div></p>
            <p> <div th:text="'Service type: '+${service.serviceType.nameServiceType}"></div></p>
        </div>
        </section>
    </main>
</div>
<footer th:replace="fragments/layout :: footer"></footer>

</body>
</html>